@import "bower_components/bourbon/app/assets/stylesheets/bourbon";

@import "bower_components/neat/app/assets/stylesheets/neat";

$max-width: 1200px;
$food-item-height: 20px;
$content-bg-width: 90%;

$title-size: 1.5em;
$section-header-size: 1em;
$description-font-size: 0.8em;
$h1-size: 1.2em;
$h2-size: 1em;
$h3-size: .8em;
$p-size: 1em;

$heading-margin: 0.5em;

$sub-heading-font: cursive;

$content-bg: rgba(219, 220, 243, .7);
$text-color: rgba(65, 74, 34, 1);
$title-color: RGBA(250, 0, 0, 1);



// lighter/pale red/watermelon
$light-accent-color: RGBA(255, 11, 51, 1);

// bright red
$accent-color: RGBA(209, 0, 0, 1);
//RGBA(193, 5, 2, 1);

//dark-red
$primary-color: RGBA(89, 13, 2, 1);
//RGBA(92, 10, 4, 1);

// darker green
$accent-color-darker-green: RGBA(161, 190, 49, 1);

// lighter-green
$accent-color-light-green: RGBA(146, 190, 93, 1);

//Darkest color
$accent-color-dark: RGBA(43, 70, 6, 1);
//rgba(0, 65, 0, 1);

//gray
$gray-color: RGBA(109, 113, 115, 1);

html,
body {
  height: 100%;
  min-height: 100%;
}


body {
  display: relative;
  margin: 0 auto;
  max-width: 90%;
  background: url('/assets/images/food.png') rgba(247, 249, 255, 1) no-repeat;
  background-position: bottom center;
  background-size: cover;
  color: $accent-color;
}

#title {
  margin: 0.5em auto;
  padding: 10px;
  text-align: center;
  color: $accent-color;
  font-size: $title-size;
  background-color: $content-bg;
  border-radius: .2em;
}

li, a {
  list-style: none;
  text-decoration: none;
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

#page-wrap {
  position: relative;
  width: content-bg-width;
 // height: 600px;
  margin: 2em auto;
  padding: 0.5em;
  background-color: $content-bg;
  border-radius: .5em;
}




/***************************************
    Veggies Template Styles Below
***************************************/
.show-veggies,
.show-protein,
.show-fruit,
.show-carb,
.show-dairy,
.show-other,
.show-breakfast,
.show-snack1,
.show-lunch,
.show-snack2,
.show-dinner,
.show-other {
  display: block;
}

.hide-veggies,
.hide-protein,
.hide-fruit,
.hide-carb,
.hide-dairy,
.hide-other,
.hide-breakfast,
.hide-snack1,
.hide-lunch,
.hide-snack2,
.hide-dinner,
.hide-other {
  display: none;
}

.show-all-button {
  position: absolute;
  right: $heading-margin;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url('/assets/images/menu-button-gray.png') center center no-repeat;
  background-size: contain;
}

.section-header {
  text-align: left;
  margin: $heading-margin;
  font-size: $section-header-size;
}

.heading-meal {
  display: inline-block;
}

.save-meal-button {
  display: inline-block;
  margin: 0 auto;
  width: 10em;
}

.sub-heading {
  font-family: $sub-heading-font;
}

.sub-heading-meal,
.heading-meal,
.meal-text {
  color: $gray-color;
}

.food-cat-button {

}


ul.meal-ul {
  display: relative;
  margin: 0;
  padding: 0;
}

.meal-ul li {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 1em;
  padding: 0;
  height: 1.5em;

}


p.meal-text,
p.food-item {
  display: inline-block;
  padding: 0;
  margin: 0;
}

p.meal-text {
  width: 50%;
}

p.food-line {
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}

/*
p.food-description {
  font-family: cursive;
  font-size: $description-font-size;
  width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
*/


input[type="number"] {
  width: 4em;
}


.food-heading-wrap {
  display: block;
  max-width: $max-width;
  vertical-align: middle;
}

.food-item-div {
  display: block;
  max-width: $max-width;
  height: $food-item-height;
  margin-bottom: .1em;
  vertical-align: middle;
}

.food-heading {
  display: inline-block;
}

.food-item-div * {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}


.section-wrap {
  //@include outer-container;
}

.selected-food {
 // @include span-columns(1);
}

.amt-input {
  //@include span-columns(2);
}

.amt-unit {
  //@include span-columns(2);
}

.food-item-heading,
.food-item {
  //@include span-columns(5);
}

.food-item {
  margin: 0;
  padding: 0;
}

.is-favorite {
  //@include span-columns(1);

}

.add-food {
  //@include span-columns(1);
  //@include omega();
}

.text-align-right {
  text-align: center;
}



/* @@@@@@@@@@@@@@@@@@@@
    Media Quieries
@@@@@@@@@@@@@@@@@@@@@@@@*/

@media screen and (min-width: 600px) {
  #title {
    font-size: 2*($title-size);
  }
  h1 {
    font-size: 2*($h1-size);
  }
  h2 {
    font-size: 2*($h2-size);
  }
  h3 {
    font-size: 2*($h3-size);
  }
}
