@import "bower_components/bourbon/app/assets/stylesheets/bourbon";

@import "bower_components/neat/app/assets/stylesheets/neat";

$max-width: 500px;
$food-item-height: 20px;

$title-size: 1.8em;
$h1-size: 1.2em;
$h2-size: 1em;
$h3-size: .8em;
$p-size: 1em;

$content-bg: rgba(219, 220, 243, .7);
$text-color: rgba(65, 74, 34, 1);
$title-color: white;


body {
  display: relative;
  margin: 0 auto;
  width: 90%;
  background: url('/assets/images/food.png') center center no-repeat;
  background-size: cover;
  color: $text-color;
}

#title {
  text-align: center;
  color: $title-color;
  font-size: $title-size;
}

li, a {
  list-style: none;
  text-decoration: none;
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

#page-wrap {
  width: 90%;
  height: 600px;
  margin: 2em auto;
  padding: 20px;
  background-color: $content-bg;
  border-radius: .5em;
}




/***************************************
    Veggies Template Styles Below
***************************************/
.show-veggies,
.show-protein,
.show-fruit,
.show-carb,
.show-dairy,
.show-other,
.show-breakfast,
.show-snack1,
.show-lunch,
.show-snack2,
.show-dinner,
.show-other {
  display: block;
}

.hide-veggies,
.hide-protein,
.hide-fruit,
.hide-carb,
.hide-dairy,
.hide-other,
.hide-breakfast,
.hide-snack1,
.hide-lunch,
.hide-snack2,
.hide-dinner,
.hide-other {
  display: none;
}



.section-header {
  text-align: center;
}

.food-heading-wrap {
  display: block;
  max-width: $max-width;
  vertical-align: middle;
}

.food-item-div {
  display: block;
  max-width: $max-width;
  height: $food-item-height;
  margin-bottom: .1em;
  vertical-align: middle;
}

.food-heading {
  display: inline-block;
}

.food-item-div * {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.section-wrap {
  //@include outer-container;
}

.selected-food {
 // @include span-columns(1);
}

.amt-input {
  //@include span-columns(2);
}

.amt-unit {
  //@include span-columns(2);
}

.food-item-heading,
.food-item {
  //@include span-columns(5);
}

.food-item {
  margin: 0;
  padding: 0;
}

.is-favorite {
  //@include span-columns(1);

}

.add-food {
  //@include span-columns(1);
  //@include omega();
}

.text-align-right {
  text-align: center;
}

